/**************** BODY STRUCTURE *****************/

body{
	background-color: #000000;
	font-family: 'Acme';
	
	/*These margin rules remove the surrounding border of the html body*/
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px
}

.mainPanel{
	position: absolute;
	width: 100%;
	height: 1080px;
	border-collapse: collapse;
	border: none;
}

.leftPanel{ /*abbreviated here on as 'lp' */
	width: 20%;
	height:100%;
	background-color: yellow;
	display:inline;
	float: left;
}

.rightPanel{ /*abbreviated here on as 'rp' */
	width: 80%;
	height:100%;
	display:inline;
	float:left;
	background-color: #ffffff;
}

/*** HEADER RULES ***/

.lpHeaderContainer{
	background-color: #000000;
	color: yellow;
	text-align: center;
	padding-top: 10px; 
	padding-bottom: 20px;
}

.lpHeaderText{
	font-size: 350%;
	color: yellow;
}

.lpHeaderText:hover{
	color: #ffffff;
}

.lpHeaderSubtext{
	font-size: 90%;
}

.spanLINKEDin{
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}
.spanLinkedIN{
	background-color: #007bb5;
	color:#FFFFFF;
	font-weight: bold;
}

.spanTheCrypt{
	color: yellow;
	/*the line below adds border shadow to the text*/
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.linkContainer{
	text-decoration:none;
	font-size: 100%;
}

.linkContainer:hover{
	text-decoration:none;
	font-size: 200%;

}

.linkInvisible{
	text-decoration: none;
}

/*** END HEADER RULES ***/

/*** LEFT PANEL BUTTON RULES **/
.lpButton{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 150%;
	color: yellow;
	background-color: #000000;
	border: 2px solid yellow;
}

.lpButton:hover{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 250%;
	color: #ffffff;
	background-color: #000000;
	border: 2px solid yellow;
}

.lpEntry{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 100%;
	background-color: #999999;
	color: #ffffff;
	cursor: pointer;
	border: 1px solid yellow;
}

.lpEntry:hover{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 150%;
	background-color: #999999;
	color: #000000;
	cursor: pointer;
	border: 1px solid yellow;
}

.lpHelp{
	width:100%;
	padding: 5px;
	font-size:120%;
}


/*** END LEFT PANEL BUTTON RULES***/


/*** RIGHT PANEL RULES ***/

.rpHeader{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 400%;
	color: #000000;
}

.headerButton{
	width: 96%;
	background-color: #000000;
	color: yellow;
	cursor: pointer;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	border: 2px solid yellow;
}

.headerButton:hover{
	width: 96%;
	background-color: yellow;
	color: #000000;
	cursor: pointer;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	border: 2px solid yellow;
}

.rpSubHeader{
	padding-left: 2%;
	padding-right: 2%;
	font-size:150%;
}

.rpContent{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 150%;
	color #000000;
}

.inputArea{
	width: 100%;
	background-color: #000000;
	color: yellow;
	font-size: 100%;
	font-weight: bold;
	border: none;
}

.inputButton{
	width: 100%;
	background-color:#000000;
	color: yellow;
	cursor: pointer;
	text-align: center;
}

.inputButton:hover{
	width: 100%;
	background-color:yellow;
	color: #000000;
	cursor: pointer;
	text-align: center;
}

.inlineButton{
	width: 100px;
	background-color: #000000;
	color: yellow;
	cursor: pointer;
	text-align: center;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid yellow;
    
}

.inlineButton:hover{
	width: 100px;
	background-color: #000000;
	color: yellow;
	cursor: pointer;
	text-align: center;
	font-size: 150%;
	display: inline;
	padding-left:5px;
	padding-right:5px;
	border: 2px solid yellow;
}

.outputArea{
	width: 100%;
	background-color: #000000;
	color: yellow;
	font-size: 100%;
	font-weight: bold;
}



/*** END RIGHT PANEL RULES ***/


/*** FONT SIZES FOR ICONS ***/
.fs100{
	font-size: 100%;
}
.fs150{
	font-size: 150%;
}
.fs200{
	font-size: 200%;
}
.fs250{
	font-size: 250%;
}
.fs300{
	font-size: 300%;
}
/*** END FONT SIZES FOR ICONS ***/
